.card{
    background: #eaeaf7;
    margin:30px
}

.buttonDetails{
    width: 100%;
    background: #ffcc30;
    color: #001b6e;
}

.name{
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-family: "Flexo-Demi",arial,sans-serif;
    color: #313131;
}

mat-card:hover  {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}


